.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
}

.tip {
    font-size: 13px;
    color: black;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
    color: turquoise;
    background-color: black;
}


canvas{
    box-shadow: 6px 6px 6px grey;
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
}
